<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.prowings.core.Student" name="std1" scope="singleton" >
		<property name="rollNumber">
		<value>10</value>
		</property>
		
		<property name="name"> 
		<value>Sejal</value>
		</property>

		<property name="address"> 
		<value>Mumbai</value>
		</property>
		
	</bean>
	
		<bean class="com.prowings.core.Employee" name="emp1">
		<property name="id">
		<value>20</value>
		</property>
		
		<property name="name"> 
		<value>Samruddhi</value>
		</property>

		<property name="address"> 
		<value>Pune</value>
		</property>
		
	</bean>
	
	<bean class="com.prowings.core.Person" name="p1" >
		
		<constructor-arg value="10" type= "int" index="0"/>
	    <constructor-arg value="Varun" type="String" index="1"/>
	    <constructor-arg value="Pune" type="String" index="2"/>
		
	</bean>
	
</beans>